<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.oneyi.mapper.WmOmNoticeIMapper">
    <!--    删除中间态数据-->
    <delete id="deleteByBinId">
        delete from wm_om_notice_i where bin_id=#{binId}
    </delete>
    <!--    下架任务删除页面-->
    <select id="delShelves" resultType="top.oneyi.pojo.vo.WmOmNoticeIVo">
        select woni.*,mb.location_name,bs.store_name,mp.tin_name
        from Wm_Om_Notice_I woni
        LEFT JOIN md_bin mb on woni.store_Area=mb.ku_wei_bian_ma
        LEFT JOIN ba_store bs on woni.bin_om=bs.store_code
        LEFT JOIN md_pallet mp on woni.pallet_code=mp.pallet_code
        where 1=1 and woni.status='1'
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and woni.om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="goodsId!=null and goodsId!='' ">
            and woni.goods_Id like '%${goodsId}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and woni.om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and woni.delv_Member like '%${delvMember}%'
        </if>
        <if test="goodsName!=null and goodsName!='' ">
            and woni.goods_Name like '%${goodsName}%'
        </if>
        <if test="cusCode!=null and cusCode!='' ">
            and woni.cus_Name like '%${cusCode}%'
        </if>
        <if test="storeArea!=null and storeArea!='' ">
            and mb.location_Name like '%${storeArea}%'
        </if>
    </select>
    <!--    任务确认查询 -->
    <select id="datagridassign" resultType="top.oneyi.pojo.vo.WmOmNoticeIVo">
        select wohi.*,mb.location_name,bs.store_name,mp.tin_name
        from Wm_Om_Notice_I wohi
        LEFT JOIN md_bin mb on wohi.store_Area=mb.ku_wei_bian_ma
        LEFT JOIN ba_store bs on wohi.bin_om=bs.store_code
        LEFT JOIN md_pallet mp on wohi.pallet_code=mp.pallet_code
        where wohi.status !='7'
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and wohi.om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="goodsId!=null and goodsId!='' ">
            and wohi.goods_Id like '%${goodsId}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and wohi.om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and wohi.delv_Member like '%${delvMember}%'
        </if>
        <if test="goodsName!=null and goodsName!='' ">
            and wohi.goods_Name like '%${goodsName}%'
        </if>
        <if test="cusCode!=null and cusCode!='' ">
            and wohi.cus_Name like '%${cusCode}%'
        </if>
        <if test="storeArea!=null and storeArea!='' ">
            and mb.location_Name like '%${storeArea}%'
        </if>
    </select>
    <select id="selectById" resultType="top.oneyi.pojo.po.WmOmNoticeI">
        select * from Wm_Om_Notice_I where id=#{id}
    </select>
    <select id="selectListByNoticeId" resultType="top.oneyi.pojo.po.WmOmNoticeI">
        select * from Wm_Om_Notice_I where om_Notice_Id=#{omNoticeId} and status !='7'
    </select>
    <!--   下架页面 -->
    <select id="shelves" resultType="top.oneyi.pojo.vo.WmOmNoticeIVo">
        select woni.*,mb.location_name,bs.store_name,mp.tin_name
        from Wm_Om_Notice_I woni
        LEFT JOIN md_bin mb on woni.store_Area=mb.ku_wei_bian_ma
        LEFT JOIN ba_store bs on woni.bin_om=bs.store_code
        LEFT JOIN md_pallet mp on woni.pallet_code=mp.pallet_code
        where 1=1
        and (woni.status='1' or woni.shelve_Status='已下架' or woni.shelve_Status='已删除')
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and woni.om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="goodsId!=null and goodsId!='' ">
            and woni.goods_Id like '%${goodsId}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and woni.om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and woni.delv_Member like '%${delvMember}%'
        </if>
        <if test="goodsName!=null and goodsName!='' ">
            and woni.goods_Name like '%${goodsName}%'
        </if>
        <if test="cusCode!=null and cusCode!='' ">
            and woni.cus_Name like '%${cusCode}%'
        </if>
        <if test="storeArea!=null and storeArea!='' ">
            and mb.location_Name like '%${storeArea}%'
        </if>
    </select>
    <!--    按单拣货查询 -->
    <select id="orderPicking" resultType="top.oneyi.pojo.vo.WmOmNoticeIVo">
        select woni.*,mb.location_name,bs.store_name,mp.tin_name
        from Wm_Om_Notice_I woni
        LEFT JOIN md_bin mb on woni.store_Area=mb.ku_wei_bian_ma
        LEFT JOIN ba_store bs on woni.bin_om=bs.store_code
        LEFT JOIN md_pallet mp on woni.pallet_code=mp.pallet_code
        where 1=1
        and (woni.status='2' or woni.jh_Status='已拣货')
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and woni.om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="goodsId!=null and goodsId!='' ">
            and woni.goods_Id like '%${goodsId}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and woni.om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and woni.delv_Member like '%${delvMember}%'
        </if>
        <if test="goodsName!=null and goodsName!='' ">
            and woni.goods_Name like '%${goodsName}%'
        </if>
        <if test="cusCode!=null and cusCode!='' ">
            and woni.cus_Name like '%${cusCode}%'
        </if>
        <if test="storeArea!=null and storeArea!='' ">
            and mb.location_Name like '%${storeArea}%'
        </if>
    </select>
    <!--装车复核页面-->
    <select id="checkTheLoad" resultType="top.oneyi.pojo.vo.WmOmNoticeIVo">
        select woni.*,mb.location_name,bs.store_name,mp.tin_name
        from Wm_Om_Notice_I woni
        LEFT JOIN md_bin mb on woni.store_Area=mb.ku_wei_bian_ma
        LEFT JOIN ba_store bs on woni.bin_om=bs.store_code
        LEFT JOIN md_pallet mp on woni.pallet_code=mp.pallet_code
        where 1=1 and (woni.status='3' or woni.fh_status='已复核')
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and woni.om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="goodsId!=null and goodsId!='' ">
            and woni.goods_Id like '%${goodsId}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and woni.om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and woni.delv_Member like '%${delvMember}%'
        </if>
        <if test="goodsName!=null and goodsName!='' ">
            and woni.goods_Name like '%${goodsName}%'
        </if>
        <if test="cusCode!=null and cusCode!='' ">
            and woni.cus_Name like '%${cusCode}%'
        </if>
        <if test="storeArea!=null and storeArea!='' ">
            and mb.location_Name like '%${storeArea}%'
        </if>
    </select>
    <select id="inRoadInventory" resultType="top.oneyi.pojo.vo.WmOmNoticeIVo">
        select woni.*,mb.location_name,bs.store_name
        from Wm_Om_Notice_I woni
        LEFT JOIN md_bin mb on woni.store_Area=mb.ku_wei_bian_ma
        LEFT JOIN ba_store bs on woni.bin_om=bs.store_code
        where woni.status !='5' and woni.status !='6' and woni.status !='0' and woni.status !='7'
    </select>
    <select id="selectCurrentOutboundNum" resultType="java.lang.Integer">
        select IFNULL(sum(goods_Qua),0) from Wm_Om_Notice_I
        where to_days(create_date) = to_days(now()) and fh_status='已复核'
    </select>

</mapper>