<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.oneyi.mapper.WmOmNoticeHServiceMapper">
    <select id="selectWmOmNoticeH" resultType="top.oneyi.pojo.po.WmOmNoticeH">
        select * from wm_om_notice_h where om_sta != '已完成' and om_notice_id like '%CK%'
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="delvData_begin1!=null and delvData_begin1!='' and delvData_end2!=null and delvData_end2!=''">
            and delv_Data between #{delvData_begin1} and #{delvData_end2}
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and delv_Member like '%${delvMember}%'
        </if>
        <if test="delvMobile!=null and delvMobile!='' ">
            and delv_Mobile like '%${delvMobile}%'
        </if>
        <if test="reMember!=null and reMember!='' ">
            and re_Member like '%${reMember}%'
        </if>
        <if test="reCarno!=null and reCarno!='' ">
            and re_Carno like '%${reCarno}%'
        </if>
        <if test="omSta!=null and omSta!='' ">
            and om_Sta like '%${omSta}%'
        </if>
    </select>
    <select id="selectWmOmNoticeHByDatagrid" resultType="top.oneyi.pojo.po.WmOmNoticeH">
        select * from wm_om_notice_h where om_sta != '已完成'
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="delvData_begin1!=null and delvData_begin1!='' and delvData_end2!=null and delvData_end2!=''">
            and delv_Data between #{delvData_begin1} and #{delvData_end2}
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and delv_Member like '%${delvMember}%'
        </if>
        <if test="delvMobile!=null and delvMobile!='' ">
            and delv_Mobile like '%${delvMobile}%'
        </if>
        <if test="reMember!=null and reMember!='' ">
            and re_Member like '%${reMember}%'
        </if>
        <if test="reCarno!=null and reCarno!='' ">
            and re_Carno like '%${reCarno}%'
        </if>
        <if test="omSta!=null and omSta!='' ">
            and om_Sta like '%${omSta}%'
        </if>
    </select>
    <select id="selectWmOmNoticeHBydatagriditem" resultType="top.oneyi.pojo.po.WmOmNoticeH">
        select * from wm_om_notice_h where 1=1
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="imCusCode!=null and imCusCode!='' ">
            and im_Cus_Code like '%${imCusCode}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="goodsName!=null and goodsName!='' ">
            and goods_Name like '%${goodsName}%'
        </if>
        <if test="sku!=null and sku!='' ">
            and sku like '%${sku}%'
        </if>
        <if test="binId!=null and binId!='' ">
            and bin_Id like '%${binId}%'
        </if>

    </select>
    <select id="datagridbatchconf" resultType="top.oneyi.pojo.po.WmOmNoticeH">
        select * from wm_om_notice_h where om_sta = '复核完成'
        <if test="omNoticeId!=null and omNoticeId!='' ">
            and om_Notice_Id like '%${omNoticeId}%'
        </if>
        <if test="imCusCode!=null and imCusCode!='' ">
            and im_Cus_Code like '%${imCusCode}%'
        </if>
        <if test="omBeizhu!=null and omBeizhu!='' ">
            and om_Beizhu like '%${omBeizhu}%'
        </if>
        <if test="delvData_begin!=null and delvData_begin!='' and delvData_end!=null and delvData_end!=''">
            and delv_Data between #{delvData_begin} and #{delvData_end}
        </if>
        <if test="delvMember!=null and delvMember!='' ">
            and delv_Member like '%${delvMember}%'
        </if>
        <if test="delvMobile!=null and delvMobile!='' ">
            and delv_Mobile like '%${delvMobile}%'
        </if>
        <if test="reMember!=null and reMember!='' ">
            and re_Member like '%${reMember}%'
        </if>
        <if test="reMobile!=null and reMobile!='' ">
            and re_Mobile like '%${reMobile}%'
        </if>
        <if test="reCarno!=null and reCarno!='' ">
            and re_Carno like '%${reCarno}%'
        </if>
        <if test="omPlatNo!=null and omPlatNo!='' ">
            and om_Plat_No like '%${omPlatNo}%'
        </if>
        <if test="omSta!=null and omSta!='' ">
            and om_Sta like '%${omSta}%'
        </if>
    </select>
    <select id="getOne" resultType="top.oneyi.pojo.po.WmOmNoticeH">
        select * from wm_om_notice_h where id =#{id}
    </select>
    <!--   根据 omNoticeId 查询-->
    <select id="findByOmNoticeId" resultType="top.oneyi.pojo.po.WmOmNoticeH">
        select * from wm_om_notice_h where om_notice_id = #{omNoticeId}
    </select>
    <select id="find" resultType="java.util.Map">
        SELECT wq.create_date as pro_data,wq.jh_status,wq.fh_status,wq.base_unit,mg.shl_dan_wei ,wq.om_beizhu,
        mg.goods_code, mg.goods_id,mg.shp_ming_cheng,cast(sum(wq.base_goodscount) as signed) as
        goods_count,mg.chl_shl,cast(mg.ti_ji_cm/mg.chl_shl as signed) tin_tj , (mg.zhl_kg/mg.chl_shl) as tin_zhl
        FROM wm_om_notice_i wq,mv_goods mg where wq.om_notice_id = #{omNoticeId}
        and wq.goods_id = mg.goods_code group by wq.om_notice_id, mg.goods_code,wq.create_date
    </select>
</mapper>