<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.oneyi.generator.mapper.GeneratorMapper">


<!--    获取数据库中的表列表-->
    <select id="tableList" resultType="top.oneyi.generator.domain.GenTable">
        select
            b.table_name,
            b.create_time,
            b.table_comment,
            b.table_schema as dataBaseName,
            a.num as total
        from information_schema.TABLES as b,
             (select count(*) as num from information_schema.TABLES  where TABLE_SCHEMA =  (select database())) as a
        where TABLE_SCHEMA =  (select database())
        limit #{page},#{size}
    </select>
</mapper>
