<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.oneyi.generator.mapper.GeneratorMapper">


<!--    获取数据库中的表列表-->
    <select id="tableList" resultType="top.oneyi.generator.domain.GenTable">
        select
        table_name,
        create_time,
        table_comment,
        table_schema as dataBaseName
        from information_schema.TABLES
        where TABLE_SCHEMA =  (select database())
    </select>
</mapper>
