<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>controller</title>

    <style>
        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        .one {
            width: 960px;
            margin: 20px auto;
            line-height: 12px;
            text-align: left;
        }
    </style>

</head>


<body>
<div id="app">
    <el-container>
        <el-header>代码生成器</el-header>
        <el-card  style="width: 60%;margin: 20px auto">
            <el-table
                    :data="tableList"
                    style="width: 100%">
                <el-table-column
                        prop="tableName"
                        label="表名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="tableComment"
                        label="表描述"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="className"
                        label="实体类名称">
                </el-table-column>
                <el-table-column
                        prop="dataBaseName"
                        label="数据库名">
                </el-table-column>
                <el-table-column
                        prop="createTime"
                        label="创建时间">
                </el-table-column>
                <el-table-column
                        prop="updateTime"
                        label="更新时间">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                                type="text"
                                size="small"
                                icon="el-icon-view"
                                @click="handlePreview(scope.row)"
                        >预览</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>


        <el-dialog
                title="代码预览"
                :visible.sync="centerDialogVisible"
                width="80%"
                center>
            <el-tabs v-model="preview.activeName" type="card" @tab-click="handleClick" >
                <el-tab-pane v-for="(value,key) in preview.data"
                             :label="key"
                             :name="key">
                    <pre><code  v-html="value"></code></pre>
                </el-tab-pane>
            </el-tabs>
        </el-dialog>


    </el-container>
</div>

<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<script>
    const app = new Vue({
        el: '#app',
        mounted() {
            // 获取预览代码
            // this.getPreview();
            // 获取表列表
            this.getTableList();
        },
        // 计算属性
        computed: {},
        // 数据
        data() {
            return {
                activeName2: 'first',
                // 预览参数
                preview: {
                    open: false,
                    title: "代码预览",
                    data: {},
                    activeName: "controller"
                },
                tableList:'',
                centerDialogVisible: false

            }
        },
        // 方法区
        methods: {
            // 获取预览代码
          /*  getPreview() {
                axios({
                    url: 'http://127.0.0.1:45450/generator/preview',
                    params: {
                        dataBaseName: "blade",
                        tableName: "goods",
                        packageName: "com.oneyi",
                        functionAuthor: "wanyi",
                        moduleName: "generator"
                    }
                }).then(response => {
                    this.preview.data = response.data.data;
                    return response.data
                }, error => {
                    console.log('错误', error.message)
                })
            },*/
            /** 复制代码成功 */
            clipboardSuccess() {
                this.$modal.msgSuccess("复制成功");
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            // 获取数据库列表
            getTableList(){
                axios({
                    url:'http://127.0.0.1:45450/generator/tableList'
                }).then(response=>{
                    this.tableList = response.data;
                    console.log(response.data);
                }, error => {
                    console.log('错误', error.message)
                })
            },
            // 指定生成的表
            handlePreview(val){
                this.centerDialogVisible = true;
                console.log(val);
                axios({
                    url: 'http://127.0.0.1:45450/generator/preview',
                    params: {
                        dataBaseName: val.dataBaseName,
                        tableName: val.tableName,
                        packageName: "com.oneyi",
                        functionAuthor: "wanyi",
                        moduleName: "generator"
                    }
                }).then(response => {
                    this.preview.data = response.data.data;
                    return response.data
                }, error => {
                    console.log('错误', error.message)
                })
            }
        }

    });


</script>


</body>
</html>
<style>
</style>
