<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>controller</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./plugins/element-ui/index.css"/>
    <style>
        .el-header, .el-footer {
            /*background-color: #B3C0D1;*/
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            line-height: 200px;
        }

        .el-main {
            background-color: #E9EEF3;
            color: #333;
            text-align: center;
            line-height: 160px;
        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

    </style>

</head>


<body>
<div id="app">
    <el-container>
        <el-header>
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1">代码生成器</el-menu-item>
                <el-menu-item index="2">生成配置</el-menu-item>
            </el-menu>
        </el-header>
        <!-- 表列表-->
        <div v-if="activeIndex === '1'">
            <el-card style="width: 80%;margin: 20px auto">
                <el-table
                        :data="tableList"
                        style="width: 100%">
                    <el-table-column
                            prop="tableName"
                            label="表名"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="tableComment"
                            label="表描述"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="className"
                            label="实体类名称">
                    </el-table-column>
                    <el-table-column
                            prop="dataBaseName"
                            label="数据库名">
                    </el-table-column>
                    <el-table-column
                            prop="createTime"
                            label="创建时间">
                    </el-table-column>
                    <el-table-column
                            prop="updateTime"
                            label="更新时间">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    type="text"
                                    size="small"
                                    icon="el-icon-view"
                                    @click="handlePreview(scope.row)"
                            >预览
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
            <!--分页-->
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 40]"
                    :page-size="size"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>
        <!-- 配置-->
        <div v-if="activeIndex === '2'">
            <el-card style="width: 80%;margin: 20px auto">
                <el-form ref="form" :model="form" label-width="80px">
                    <el-form-item label="包名称">
                        <el-input v-model="form.packageName"></el-input>
                    </el-form-item>
                    <el-form-item label="作者名称">
                        <el-input v-model="form.functionAuthor"></el-input>
                    </el-form-item>
                    <el-form-item label="模块名">
                        <el-input v-model="form.moduleName"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">保存</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
            </el-card>
        </div>

        <el-dialog
                title="代码预览"
                :visible.sync="centerDialogVisible"
                width="80%"
                center>
            <el-tabs v-model="preview.activeName" type="card" @tab-click="handleClick">
                <el-tab-pane v-for="(value,key) in preview.data"
                             :label="key"
                             :name="key">
                    <el-link :underline="false" icon="el-icon-document-copy" @click="clipboardSuccess"
                             style="float:right" class="btn">复制
                    </el-link>
                    <pre><code v-html="value"></code></pre>
                </el-tab-pane>
            </el-tabs>
        </el-dialog>


    </el-container>
</div>


<!--引入clipboard.js-->
<script src="https://www.itxst.com/package/clipboardjs/clipboard.min.js"></script>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="./plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="./plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="./plugins/axios/axios.min.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        mounted() {
            // 获取表列表
            this.getTableList();
        },
        // 计算属性
        computed: {},
        // 数据
        data() {
            return {
                activeName2: 'first',
                // 预览参数
                preview: {
                    open: false,
                    title: "代码预览",
                    data: {},
                    activeName: "controller"
                },
                form: {
                    packageName: "com.oneyi",
                    functionAuthor: "wanyi",
                    moduleName: "generator"

                },
                tableList: '',
                centerDialogVisible: false,
                activeIndex: '1',
                currentPage: 1,
                size: 10,
                total: 0
            }
        },
        // 方法区
        methods: {
            /** 复制代码成功 */
            clipboardSuccess() {
                //实例化clipboard
                const clipboard = new ClipboardJS('.btn', {
                    target: function () {
                        //获取文档中第一个 <div> 元素：
                        return document.querySelector('code');
                        //返回文档中id为copy-btn的元素
                        //document.querySelector("#copy-btn");
                        //返回文档中 class="btn" 的第一个元素:
                        //document.querySelector(".btn");
                        //返回文档中 class="btn" 的第一个 <p> 元素:
                        //document.querySelector("p.btn");
                        //还有更多方法，可自行百度
                    },
                });

                //复制成功响应
                clipboard.on('success', function (e) {
                    console.log(e);
                    Vue.prototype.$message({
                        message: '复制成功',
                        type: 'success'
                    });
                });

                //复制失败响应
                clipboard.on('error', function (e) {
                    console.log(e);
                });
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            // 获取数据库列表
            getTableList() {
                axios({
                    url: 'http://127.0.0.1:45450/generator/tableList',
                    params: {
                        page: this.currentPage,
                        size: this.size
                    }
                }).then(response => {
                    this.tableList = response.data;
                    this.total = response.data[0].total;
                }, error => {
                    console.log('错误', error.message)
                })
            },
            // 指定生成的表
            handlePreview(val) {
                this.centerDialogVisible = true;
                console.log(val);
                axios({
                    url: 'http://127.0.0.1:45450/generator/preview',
                    params: {
                        dataBaseName: val.dataBaseName,
                        tableName: val.tableName,
                        packageName: this.form.packageName,
                        functionAuthor: this.form.functionAuthor,
                        moduleName: this.form.moduleName
                    }
                }).then(response => {
                    this.preview.data = response.data.data;
                    return response.data
                }, error => {
                    console.log('错误', error.message)
                })
            },
            // 切换菜单
            handleSelect(key, keyPath) {
                this.activeIndex = key;
            },
            // 保存配置
            onSubmit() {
                Vue.prototype.$message({
                    message: '保存成功',
                    type: 'success'
                });
            },
            handleSizeChange(val) {
                this.size = val;
            },
            handleCurrentChange(val) {
                this.currentPage = val;
               this.getTableList();
            }
        }

    });


</script>


</body>
</html>
<style>
</style>
