<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>


</style>
<body>

<div id="app" class="login">
    <el-form :model="loginForm" class="login-form">
        <h3>系统登录</h3>
        <el-form-item>
            <el-input
                    type="input"
                    placeholder="请输入账号"
                    v-model="loginForm.username"
            >
            </el-input>
        </el-form-item>
        <el-form-item>
            <el-input
                    type="password"
                    placeholder="请输入密码"
                    v-model="loginForm.password"
            >
            </el-input>
        </el-form-item>
        <el-checkbox v-model="loginForm.rememberMe" >记住密码</el-checkbox>
        <el-form-item>
            <el-button type="primary" @click="login"> 登录</el-button>
        </el-form-item>
    </el-form>

</div>

<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


<script>
    const app = new Vue({
        el: '#app',
        // 数据
        data() {
            return {
                loginForm: {
                    username: '',
                    password: '',
                    rememberMe:''

                }
            }

        },
        // 方法区
        methods: {
            login() {
                if (this.username == 'admin' && this.password == 'admin') {
                    alert("登录成功");
                }

            }
        }

    });
</script>

</body>
</html>
