<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>
<body>
hello 第一个Thymeleaf程序
<h3> 取字符串</h3>
<p th:text="'我的名字是: ' + ${name}"></p>
<h3>取bean对象的数据</h3>
<p th:text="${user.name}"></p>
<p th:text="${user.age}"></p>
<p th:text="${user.username}"></p>
<h3>取集合对象的数据</h3>

<div th:each="item:${userList}">
    <span th:text="${item}"></span>
</div>

<h3>map的取值</h3>
<div>
    <span th:text="${map.get('place')}"></span>

    <span th:text="${map['feeling']}"></span>
</div>

</body>
</html>